/* 
    Document   : deminons
*/

.hiddenRect {
	-fx-fill: gray;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
.test {
	-fx-fill: blue;
	-fx-stroke: black;
	-fx-stroke-width: 5;
}
.marked{
	-fx-fill: blue;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
.seen{
	-fx-fill: gainsboro;
	-fx-stroke: black;
	-fx-stroke-width: 2;
	}
.entered{
	-fx-stroke: black;
	-fx-stroke-width: 4;
	}